*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    height: 50px;
}
body{
    background-color: #ADBBDA;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body > h1{
    font-family: 'staatliches', sans-serif;
    font-size: 500%;
    margin: 20px;
    color: #7091E6;
    -webkit-text-stroke: 1.5px black;
    text-shadow: 10px 10px 8px rgba(0, 0, 0, 0.408);
    font-weight: 400;
}
.container{
    width: 45vw;
    aspect-ratio: 1;
    background-color: #3D52A0;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    padding: 1.5% 2.5%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.continn{
    width: 80%;
    height: 40%;
    background-color: #7091E6;
    border-radius: 10px;
    padding: 4% 4%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.button{
    width: 60px;
    height: 35px;
    border-radius: 15px;
    background-color: #8697C4;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    display: flex;
    padding: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'roboto', sans-serif;
    margin-left: auto;
    /* margin-right: 100px; */
    color: white;
    cursor: pointer;
}
.button > img{
    height: 15px;
    cursor: pointer;
    margin-right: 2px;
}
.task-rem{
    width: 95%;
    background-color: black;
    min-height: 40px;
    border-radius: 0px 10px 10px 0px  ;
    -webkit-border-radius: 0px 10px 10px 0px  ;
    -moz-border-radius: 0px 10px 10px 0px  ;
    -ms-border-radius: 0px 10px 10px 0px  ;
    -o-border-radius: 0px 10px 10px 0px  ;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px;
    margin: 10px;
    /* overflow-x: hidden; */
}
.checkbox{
    width: 10px;
    height: 10px;
    background-color: white;
    border: 1px solid black;
    margin-right: 10px;
    cursor: pointer;
    margin-left: 5px;


}
.task-text{
    color: white;
    font-family: 'poppins', sans-serif;
    overflow-x: hidden;
}
.text-input{
    /*height: 50vh;
    */width: 25vw;
    aspect-ratio: 1;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    background-color: #ADBBDA;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 20px;
    border: 2px solid black;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.text-input input{
    width: 90%;
    height: 30px;
    padding: 5px;
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    
}
.text-input .add{
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.text-input img{
    height: 20px;
    margin-bottom: auto;
    margin-left: auto;
    cursor: pointer;
}
.wall{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.356);
    position: fixed;
    top: 0;
    left: 0;
    display: none;

}